body {
  background: black;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  
}

.gradient-text {
  background: linear-gradient(to right, #4d5dfb, #62d5c4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
}

.view-all {
  color: #c770f0;
  font-size: 0.9rem;
  text-decoration: underline;
  display: block;
  margin-top: -10px;
}

.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
  
}

button{
  padding: 12px 24px;
  border-radius: 25px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

#go-btn{
    font-size: 35px;
    font-weight: 700;
    color: #80e8c9;
    cursor: pointer;
}

.outline {
  border: 1px solid #62d5c4;
  background: transparent;
  color: #62d5c4;
}

button#searchBtn {
  background: #3653f8;
  color: white;
  
}

.hidden {
  display: none;
}

#searchBox {
  text-align: center;
  margin-top: 20px;
}

#searchbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #254BC9;
    height: 70px;
    padding-left: 20px;
    padding-right: 30px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    margin-bottom: -14px;
}

#leftbar {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 10px;
}

#icon{
 height: 45px;
 padding-right: 10px;
 padding-left:0;

}


#searchBox button {
  margin-left: 10px;
  background-color: #4d5dfb;
  color: white;
}

.filters {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #254BC9;
  padding: 20px;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
  margin-bottom: 0;
}

.filter-tag {
    padding: 2px 10px;
    background-color: #80e8c9;
    border-radius: 50px;
    color: #254bc9;
    font-size: 11px;
    cursor: pointer;
}
.filter-tag.active {
  background-color: #f15fff;
  color: white;
}


input::placeholder{
  color: aquamarine;
font-size: large;
}

#searchInput {
  flex: 1;
  min-width: 0;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
}